<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.239962947940-bhi9lhq89ovqbqcd8n46a3qld0nljn0o</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>239962947940-bhi9lhq89ovqbqcd8n46a3qld0nljn0o.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>LibreCaslonText-Regular.ttf</string>
		<string>LibreCaslonText-Italic.ttf</string>
		<string>LibreCaslonText-Bold.ttf</string>
		<string>LibreCaslonCondensed-Regular.ttf</string>
		<string>LibreCaslonCondensed-Italic.ttf</string>
		<string>LibreCaslonCondensed-Medium.ttf</string>
		<string>LibreCaslonCondensed-MediumItalic.ttf</string>
		<string>LibreCaslonCondensed-SemiBold.ttf</string>
		<string>LibreCaslonCondensed-SemiBoldItalic.ttf</string>
		<string>LibreCaslonCondensed-Bold.ttf</string>
		<string>LibreCaslonCondensed-BoldItalic.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenColor</string>
		<key>UIImageName</key>
		<string>Logomark</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
